<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Monetaria</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href=https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css>

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript">
        window.onload = function () {
    var dataPoints = [];

    function getDataPointsFromCSV(csv) {
        var dataPoints = csvLines = points = [];
        csvLines = csv.split(/[\r?\n|\r|\n]+/);

        for (var i = 0; i < csvLines.length; i++)
            if (csvLines[i].length > 0) {
                points = csvLines[i].split(";");
                datex = new Date(points[0]);
                //datex.setMonth(datex.getMonth() -1);
                dataPoints.push({
                    x: datex,
                    y: parseFloat(points[1])
                });
            }
        return dataPoints;
    }
    $.get("/static/output.csv", function (data) {

        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light2", // "light2", "dark1", "dark2"
            animationEnabled: true, // change to true
            zoomEnabled: true,
            rangeChanging: function(e){
                findExtremeDataPoints(e);
             },
            title: {
                text: "Base Monetaria en Pesos"
            },
            axisY: {
                title: "Base Monetaria Total (Millones pesos)",
                titleFontSize: 15,
                includeZero: false
            },
            axisX: {
                valueFormatString: "DD-MM-YY",
                gridThickness: 2,
                labelAngle: -50,
                title: "Tiempo",
                titleFontSize: 15
            },
            data: [{
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "splineArea",
                markerType: "circle",
                markerSize: 4,
                fillOpacity: .4,
                dataPoints: getDataPointsFromCSV(data)
            }]
        });

        //Date manipulation and initialize
        var dpsLength = chart.options.data[0].dataPoints.length;
        var lastDate = chart.options.data[0].dataPoints[dpsLength-1].x;
        chart.options.axisX.viewportMinimum = new Date(lastDate.getFullYear(),lastDate.getMonth()-3,lastDate.getDate());
        chart.render();
        findExtremeDataPointsPassed();
        addTable(chart);

        var renderButtonYear = document.getElementById("renderButtonYear");
        renderButtonYear.addEventListener("click", editViewportYear);

        var renderButtonMonth = document.getElementById("renderButtonMonth");
        renderButtonMonth.addEventListener("click", editViewportMonth);

        var renderButtonValue = document.getElementById("renderButtonValue");
        renderButtonValue.addEventListener("click", editViewportValue);

        function editViewportYear() {
            var dpsLength = chart.options.data[0].dataPoints.length;
            var lastDate = chart.options.data[0].dataPoints[dpsLength-1].x;
            chart.options.axisX.viewportMinimum = new Date(lastDate.getFullYear(),lastDate.getMonth()-12,lastDate.getDate());
            chart.render();
            findExtremeDataPointsPassed();
        }

        function editViewportMonth() {
            var dpsLength = chart.options.data[0].dataPoints.length;
            var lastDate = chart.options.data[0].dataPoints[dpsLength-1].x;
            chart.options.axisX.viewportMinimum = new Date(lastDate.getFullYear(),lastDate.getMonth()-1,lastDate.getDate());
            chart.render();
            var result = findExtremeDataPointsPassed();
            console.log(result)
        }

        function editViewportValue() {
            var dpsLength = chart.options.data[0].dataPoints.length;
            var lastDate = chart.options.data[0].dataPoints[dpsLength-1].x;
            xValue = Number(document.getElementById("xValue").value);
            chart.options.axisX.viewportMinimum = new Date(lastDate.getFullYear(),lastDate.getMonth()-xValue,lastDate.getDate());
            chart.render();
            findExtremeDataPointsPassed();
        }

        function addTable(chart){
	        var tableData = "";
	        for(var i = 0; i < chart.options.data[0].dataPoints.length; i++) {
  		        tableData += "<tr>";

                    tableData += ("<td>" + chart.options.data[0].dataPoints[i].x +"</td>");
                    tableData += ("<td>" + chart.options.data[0].dataPoints[i].y +"</td>")

                tableData += "</tr>";
            }
            $("#chartData").append(tableData)
        }

        function findExtremeDataPoints(e) {
            var chart = e.chart;
            var minXIndex = Infinity, maxXIndex = -Infinity;
            var minDps, maxDps;

            var viewportMinimum = chart.axisX[0].get("viewportMinimum");
            var viewportMaximum = chart.axisX[0].get("viewportMaximum");

            for(var j = 0; j < chart.options.data[0].dataPoints.length; j++) {
                if(chart.options.data[0].dataPoints[j].x >= viewportMinimum) {
                    minXIndex = j;
                    break;
                }
            }
            for(var j = 0; j < chart.options.data[0].dataPoints.length; j++) {
                if(chart.options.data[0].dataPoints[j].x <= viewportMaximum) {
                    maxXIndex = j;
                }
            }
            minDps = chart.options.data[0].dataPoints[minXIndex];
            maxDps = chart.options.data[0].dataPoints[maxXIndex];

            console.log("Datapoints index: " + minXIndex + ", " + maxXIndex)
            console.log("Datapoints: "); console.log(minDps); console.log(maxDps)
            chart.options.axisY.viewportMinimum = (chart.options.data[0].dataPoints[minXIndex].y)*0.90;
            chart.options.axisY.viewportMaximum = (chart.options.data[0].dataPoints[maxXIndex].y)*1.15;
            chart.render();
        }

        function findExtremeDataPointsPassed() {
            var minXIndex = Infinity, maxXIndex = -Infinity;
            var minDps, maxDps;
            var points = [];

            var viewportMinimum = chart.axisX[0].get("viewportMinimum");
            var viewportMaximum = chart.axisX[0].get("viewportMaximum");


            for(var j = 0; j < chart.options.data[0].dataPoints.length; j++) {
                if(chart.options.data[0].dataPoints[j].x >= viewportMinimum) {
                    minXIndex = j;
                    break;
                }
            }
            for(var j = 0; j < chart.options.data[0].dataPoints.length; j++) {
                if(chart.options.data[0].dataPoints[j].x <= viewportMaximum) {
                    maxXIndex = j;
                }
            }
            minDps = chart.options.data[0].dataPoints[minXIndex];
            maxDps = chart.options.data[0].dataPoints[maxXIndex];

            console.log("Datapoints index: " + minXIndex + ", " + maxXIndex)
            console.log("Datapoints: "); console.log(minDps); console.log(maxDps)
            chart.options.axisY.viewportMinimum = (chart.options.data[0].dataPoints[minXIndex].y)*0.90;
            chart.options.axisY.viewportMaximum = (chart.options.data[0].dataPoints[maxXIndex].y)*1.15;
            points.push({minO:chart.options.data[0].dataPoints[minXIndex].y, minC: chart.options.axisY.viewportMinimum})
            points.push(chart.options.axisY.viewportMaximum)

            chart.render();
            return points
        }
    });
}
    </script>
    <script>
    $(document).ready(function() {
        $('#chartData').DataTable();
    } );
    </script>
</head>
<body>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <button id="renderButtonYear">Un Año</button>
    <button id="renderButtonMonth">Un Mes</button>
    <input id="xValue" type="number" step="any" placeholder="Cantidad de Meses">
    <button id="renderButtonValue">Ver</button>


<!-- End page content -->
</div>

<div id="tableContainer">
  <table id="chartData" class="display">
  </table>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-10">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">tuvi</a></p>
</footer>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
</body>
</html>